.appFeatCont {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  width: 100vw;
  height: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding: 0 20px;
}

.appFeatCont::-webkit-scrollbar {
  display: none;
}

.appFeatures {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 5rem;
}

.pageSection {
  margin-top: 2vh;
  text-align: center;
  width: 100vw;
}

.scrollButtonCont {
  display: none;
}

@media (max-width: 600px) {
  
  .appFeatures {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: auto;
    margin-top: 2.5rem;
    padding-bottom: 0rem !important;
    align-self: flex-start;
    align-self: flex-start;
  }
  .scrollButtonCont {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
  }
  .scrollButton {
    display: unset !important;
    background: none;
    border: none;
    cursor: pointer;
  }
}