.featureCard {
  width: 20vw;
  height: auto;
  min-height: 30vw;
  border-radius: 10px;
  background-color: #179DC7;
  transition: all .3s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  z-index: 1000;
  position: relative;
}

.animationContainer {
  width: 75%;
  height: 20vh;
}

.animation {
  width: 100%;
  height: 100%
}

.featureTitle {
  font-family: 'Karla';
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFF;
  margin-top: 1rem;
}

.featureDesc {
  font-family: 'Karla';
  font-size: 1rem;
  font-weight: 400;
  color: #FFF;
  opacity: 0;
  height: 0px;
  transition: all .2s linear;
}

@media (hover: none) {
  .featureCard {
    transform: scale(1.1);
    max-height: 40vh;
    border-bottom: 10px solid #FFB042;
  }
  .featureCard .featureDesc {
    opacity: 1 !important;
    height: auto;
  }
}

@media (hover: hover) {
  .featureCard:hover {
    transform: scale(1.1);
    border-bottom: 10px solid #FFB042;
  }
  .featureCard:hover .featureDesc {
    opacity: 1 !important;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .featureCard {
    width: 70vw;
    height: auto;
    min-height: 40vw;
    transition: all .3s linear;
    margin: 25px;
  }

  .featureCard:hover {
    transform: scale(1.1);
  }
}