
.pageHeader {
  width: 100%;
  height: 100vh;
  position: relative;
}

.parallax {
  width: 100%;
  height: 100vh;
  padding: 0;
  position: absolute;
  z-index: 100;
}

.parallaxBackground {
  width: 100%;
  height: 100vh;
  padding: 0;
  position: absolute;
  z-index: -1;
}

.backgroundImage {
  z-index: 100;
  width: 100vw;
  object-fit: fill;
  width: unset !important;
  height: unset !important;
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
}

.backgroundImageLogo {
  z-index: 100;
  /* width: 100vw; */
  width: 100vw;
  height: unset !important;
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: relative;
}

.backgroundImageWater {
  z-index: -1;
  /* width: 100vw; */
  width: unset !important;
  height: unset !important;
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
}