
.pageHeader {
  width: 100%;
  height: 110vh;
  position: relative;
}

.parallax {
  width: 100%;
  min-height: 110vh;
  padding: 0;
  position: absolute;
  z-index: 100;
}

.parallaxBackground {
  width: 100%;
  height: 110vh;
  padding: 0;
  top: 0;
  position: absolute;
  z-index: -10;
}

.backgroundImage {
  z-index: 100;
  object-fit: cover !important;
  /* width: unset !important;
  height: unset !important; */
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
}

.backgroundImageLogo {
  z-index: 100;
  width: 100vw;
  /* height: unset !important; */
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  object-fit: cover !important;
  position: relative;
}

.backgroundImageWater {
  z-index: -1;
  position: fixed;
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  object-fit: cover !important;
}