@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Karla:wght@300&family=Montserrat&family=Montserrat+Alternates:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-smooth: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-rendering: optimizeLegibility;
}

h1 {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
  body {
    color: white;
    background: black;
  }
}
