.container {
  padding: 0;
  margin: 0;
}

.pageHeader {
  width: 100%;
  height: 85vh;
  position: relative;
}

.appName {
  color: #FFF;
  width: 100%;
  text-align: center;
}

.backgroundImage {
  z-index: -1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
