.container {
  padding: 0;
  margin: 0;
}

.pageRest {
  width: 100%;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.pageTitle {
  color: #121212;
  font-size: 40px;
  max-width: 45vw;
  text-align: center;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2vh !important;
}

.boldTitle {
  font-weight: 900
}

.pageSubtitle {
  color: #121212;
  font-size: 24px;
  max-width: 40vw;
  text-align: center;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
  margin-top: 1rem;
}

.appExplanation {
  margin-top: 2rem;
  text-align: center;
  font-family: 'Karla', sans-serif;
  /* font-weight: 600; */
  color: #179DC7;
  font-size: 24px;
  max-width: 60%
}

.appExplanation span {
  font-weight: 600;
}

.callToDownload {
  width: 100%;
  height: auto;
  position: relative;
  background-image: linear-gradient(to bottom, #FFF, #FFF, #FFF, #179DC7);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

.callTitle {
  font-family: 'Montserrat';
  font-size: 32px;
  color: #121212;
}

.callSubtitle {
  font-family: 'Karla';
  font-size: 24px;
  color: #121212;
  margin-top: 24px;
}

.soonText {
  position: absolute;
  font-size: 16px;
  bottom: 20px;
  width: 100%;
  color: #303030;
  text-align: center;
  font-family: 'Karla';
}

.storeButton {
  background: none;
  border: none;
  margin: 8px 0 40px;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .pageTitle {
    margin-top: 10vh !important;

  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .pageTitle {
    max-width: 100%;
    margin-top: -2.5vh !important;
  }
  .pageSubtitle {
    max-width: 75%;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
