.container {
  padding: 0;
  margin: 0;
}

.pageHeader {
  width: 100%;
  height: 100vh;
  position: relative;
}

.parallax {
  width: 100vw;
  height: 100%;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: flex-end
}

.appName {
  color: #FFF;
  width: 100%;
  text-align: center;
}

.backgroundImage {
  z-index: -1;
  width: 100vw;
  height: unset !important
}

.pageRest {
  width: 100%;
  height: 200vh;
  background-image: linear-gradient(to bottom, #52A0BC, rgba(158, 207, 224, .15))
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
