.container {
  padding: 0;
  margin: 0;
}

.pageRest {
  width: 100%;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.pageTitle {
  color: #121212;
  font-size: 40px;
  max-width: 45vw;
  text-align: center;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2vh !important;
}

.boldTitle {
  font-weight: 900
}

.pageSubtitle {
  color: #121212;
  font-size: 24px;
  max-width: 40vw;
  text-align: center;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
  margin-top: 1rem;
}

@media (max-width: 1600px) {
  .pageTitle {
    margin-top: 10vh !important;

  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .pageTitle {
    max-width: 100%;
    margin-top: -2.5vh !important;
  }
  .pageSubtitle {
    max-width: 75%;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
